---
import Layout from "../layouts/Layout.astro";

import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import Container from "@components/Container.astro";
import Home from "@components/Home.astro";
import AboutMe from "@components/AboutMe.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="Portfolio de Fernando Dorantes. Desarrollador y Programador Web."
>
  <main class="flex flex-col">
    <Home />

    <Container titleSection="Experiencia Laboral">
      <Experience />
    </Container>

    <Container titleSection="Proyectos" idSection="proyectos">
      <Projects />
    </Container>

    <Container titleSection="Sobre mí" idSection="sobre-mi">
      <AboutMe />
    </Container>
  </main>
  <Footer />
</Layout>

<style>
  .texto-borde {
    -webkit-text-stroke: 2px rgb(37, 97, 235);
    color: transparent;
  }
</style>
