<ol class="border-s border-gray-300 mt-5 md:mb-32">
  <li class="ms-6">
    <h2
      class="flex items-center text-sm md:text-base xl:text-lg font-semibold text-gray-800"
    >
      Desarrollador Fullstack jr
    </h2>
    <time
      class="block mb-2 text-xs md:text-sm xl:text-base font-normal leading-none text-gray-700"
      >Universidad Autonoma del Estado de Morelos</time
    >
    <p
      class="mb-4 mt-3 text-xs md:text-sm font-normal text-gray-700 text-pretty"
    >
      Desarrolle un sitio web con laravel 10 para gestionar de mejor manera los
      datos históricos de la institución, permitiendo realizar operaciones CRUD. <br
      />
      El sistema implementado ha permitido optimizar los procesos de gestión de información
      del departamento de gestión y evaluación. <br />
      Implemente medidas de seguridad robustas para proteger la privacidad yconfidencialidad
      de al información manejada en el sistema.
    </p>
  </li>
</ol>
