<nav class="gap-5 hidden lg:flex items-center">
  <li class="list-none">
    <a
      class="cursor-pointer text-gray-800/90 text-sm hover:bg-gray-200 px-3 py-2 rounded-full transition-all"
      href="#top">Inicio</a
    >
  </li>
  <li class="list-none">
    <a
      href="#proyectos"
      class="cursor-pointer text-gray-800/90 text-sm hover:bg-gray-200 px-3 py-2 rounded-full transition-all"
      >Proyectos</a
    >
  </li>
  <li class="list-none">
    <a
      href="#sobre-mi"
      class="cursor-pointer text-gray-800/90 text-sm hover:bg-gray-200 px-3 py-2 rounded-full transition-all"
    >
      Sobre mi</a
    >
  </li>
  <li class="list-none">
    <a
      href="#contacto"
      class="cursor-pointer text-gray-800/90 text-sm hover:bg-gray-200 px-3 py-2 rounded-full transition-all"
    >
      Contacto</a
    >
  </li>
  <li
    class="list-none px-4 py-2 rounded-full bg-blue-600 cursor-pointer hover:bg-blue-800 text-xs text-gray-50 transition font-normal"
  >
    <a href="#top">Ver CV</a>
  </li>
</nav>
