---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
---

<Layout title="Control de gastos">
  <main class="px-8 mt-32 sm:px-52 lg:px-72">
    <Breadcrumb title={"Control de gastos"} />
  </main>
</Layout>
